<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CF-KV-CRUD</title>
        <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.min.css" rel="stylesheet" />
    </head>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #app {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        .search {
            padding: 20px;
            height: 80px;
        }
        .search .el-form {
            width: 80%;
        }

        .table {
            width: 100%;
            height: calc(100vh - 80px);
            overflow: auto;
        }

        .view-dialog .el-dialog .el-dialog__body .el-textarea__inner {
            height: 60vh !important;
        }
    </style>

    <body>
        <div id="app">
            <div class="search">
                <el-form :model="searchData" :label-width="120" size="mini" :inline="true">
                    <el-form-item label="kv命名空间：">
                        <el-select v-model="searchData.kv" placeholder="请选择kv命名空间">
                            <el-option
                                :label="item.label"
                                :value="item.value"
                                v-for="item in kvnamespaceList"
                                :key="item.value"
                            ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSearch">查询</el-button>
                    </el-form-item>
                </el-form>
            </div>

            <div class="table">
                <div class="action">
                    <el-button type="primary" size="mini" @click="onAddRow">新增</el-button>
                </div>

                <el-table :data="tableData" style="width: 100%" :loading="loading" border size="mini" max-height="100%" stripe>
                    <el-table-column prop="key" label="文件名" width="150" show-overflow-tooltip> </el-table-column>
                    <el-table-column prop="value" label="内容" show-overflow-tooltip>
                        <template slot-scope="scope">
                            <el-input
                                type="textarea"
                                v-model="scope.row.value"
                                size="mini"
                                :autosize="{ minRows: 2, maxRows: 5 }"
                            ></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column prop="download" label="下载地址" width="200" show-overflow-tooltip>
                        <template slot-scope="{row}">
                            <el-link :href="row.download" type="primary" target="_blank">{{row.download}}</el-link>
                        </template>
                    </el-table-column>
                    <el-table-column prop="preview" label="预览地址" width="200" show-overflow-tooltip>
                        <template slot-scope="{row}">
                            <el-link :href="row.preview" type="success" target="_blank">{{row.preview}}</el-link>
                        </template>
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" width="200">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="onViewRow(scope.row)">查看</el-button>
                            <el-button type="text" size="small">编辑</el-button>
                            <el-button type="text" size="small" @click="onDeleteRow(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <el-dialog title="查看" :visible.sync="viewOptions.status" width="80%" class="view-dialog">
                <div style="height: 60vh">
                    <el-input type="textarea" v-model="viewOptions.data" size="mini" :autosize="{ minRows: 5, maxRows: 10 }"></el-input>
                </div>
            </el-dialog>

            <el-dialog title="新增" :visible.sync="addOptions.status" width="60%" class="add-dialog">
                <div style="height: 30vh">
                    <el-form :model="addOptions.formData" label-width="120px" size="mini">
                        <el-form-item label="kv命名空间：">
                            <el-select v-model="addOptions.formData.kv" placeholder="请选择kv命名空间">
                                <el-option
                                    :label="item.label"
                                    :value="item.value"
                                    v-for="item in kvnamespaceList"
                                    :key="item.value"
                                ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="上传类型：">
                            <el-select v-model="addOptions.formData.type" placeholder="请选择上传类型">
                                <el-option label="文本" value="text"></el-option>
                                <el-option label="文件" value="file"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="文件名：" v-if="addOptions.formData.type === 'text'">
                            <el-input v-model="addOptions.formData.key" size="mini"></el-input>
                        </el-form-item>

                        <el-form-item label="文件内容：" v-if="addOptions.formData.type === 'text'">
                            <el-input
                                type="textarea"
                                v-model="addOptions.formData.value"
                                size="mini"
                                :autosize="{ minRows: 2, maxRows: 5 }"
                            ></el-input>
                        </el-form-item>

                        <el-form-item label="上传文件：" v-if="addOptions.formData.type === 'file'">
                            <el-upload action="/" :auto-upload="false" :on-change="onChange">
                                <el-button size="small" type="primary">点击上传</el-button>
                                <div slot="tip" class="el-upload__tip">{{addOptions.formData.file.name}}</div>
                            </el-upload>
                        </el-form-item>
                    </el-form>
                </div>

                <div slot="footer">
                    <el-button @click="addOptions.status = false">取 消</el-button>
                    <el-button type="primary" @click="onSubmit">确 定</el-button>
                </div>
            </el-dialog>
        </div>

        <script>
            class Utils {
                static BASE_URL = '/';

                static formatApi(url) {
                    console.log(url);
                    return url.replace(/\/\//g, '/');
                }

                static httpGet(url, params) {
                    const urlParams = new URLSearchParams(params);
                    const token = sessionStorage.getItem('Authorization');
                    const kv = sessionStorage.getItem('kv');
                    return fetch(`${Utils.formatApi(`${Utils.BASE_URL}${url}`)}?${urlParams.toString()}`, {
                        method: 'GET',
                        headers: {
                            Authorization: token,
                            kv: kv,
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .catch(err => {
                            console.log(err, `err`);
                        });
                }

                static httpPost(url, data) {
                    const token = sessionStorage.getItem('Authorization');
                    const kv = sessionStorage.getItem('kv');
                    return fetch(Utils.formatApi(`${Utils.BASE_URL}${url}`), {
                        method: 'POST',
                        headers: {
                            Authorization: token,
                            kv: kv,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(res => res.json())
                        .catch(err => {
                            console.log(err, `err`);
                        });
                }

                static httpPostForm(url, data) {
                    const token = sessionStorage.getItem('Authorization');
                    const kv = sessionStorage.getItem('kv');

                    return fetch(Utils.formatApi(`${Utils.BASE_URL}${url}`), {
                        method: 'POST',
                        headers: {
                            Authorization: token,
                            kv: kv
                        },
                        body: data
                    }).then(res => res.json());
                }

                static decode(d) {
                    try {
                        return decodeURIComponent(d);
                    } catch {
                        return d;
                    }
                }
            }
        </script>

        <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.14/vue.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/index.min.js"></script>

        <script>
            const vm = new Vue({
                data() {
                    return {
                        searchData: {
                            kv: ''
                        },
                        tableData: [],
                        loading: false,
                        authToken: '',
                        kvnamespaceList: [],
                        viewOptions: {
                            status: false,
                            data: ''
                        },
                        addOptions: {
                            status: false,
                            formData: {
                                kv: '',
                                key: '',
                                file: '',
                                type: '',
                                value: ''
                            }
                        }
                    };
                },

                async created() {
                    if (sessionStorage.getItem('Authorization')) {
                        this.authToken = sessionStorage.getItem('Authorization');
                        await this.getKvList();
                        this.getTableData();
                    } else {
                        await this.getAuthToken();
                        await this.getKvList();
                        this.getTableData();
                    }
                },

                methods: {
                    async getAuthToken() {
                        const authToken = prompt('Enter your Cloudflare Auth Token');
                        if (!authToken) {
                            alert('Please enter a valid auth token');
                            return;
                        }
                        const res = await Utils.httpPost('/api/verifyToken', { token: authToken });

                        if (res.status !== 200) {
                            alert(res.message);
                        } else {
                            sessionStorage.setItem('Authorization', authToken);
                            this.authToken = authToken;
                        }
                    },
                    async getKvList() {
                        const res = await Utils.httpGet('/api/getKvList');
                        if (res.status !== 200) {
                            alert(res.message);
                        } else {
                            this.kvnamespaceList = res.data;
                            this.searchData.kv = res.data[0].value;
                        }
                    },
                    async getTableData() {
                        this.tableData = [];
                        this.loading = true;
                        const res = await Utils.httpGet('/api/getList');
                        this.tableData = res.data;
                        this.loading = false;
                    },
                    onSearch() {
                        sessionStorage.setItem('kv', this.searchData.kv);
                        this.getTableData();
                    },

                    onViewRow(row) {
                        this.viewOptions.data = row.value;
                        this.viewOptions.status = true;
                    },
                    onDeleteRow(row) {
                        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        })
                            .then(() => {
                                Utils.httpPost('/api/delete', { key: row.key }).then(res => {
                                    if (res.status === 200) {
                                        this.$message({
                                            type: 'success',
                                            message: '删除成功!'
                                        });
                                        this.getTableData();
                                    } else {
                                        this.$message({
                                            type: 'error',
                                            message: res.message
                                        });
                                    }
                                });
                            })
                            .catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: '已取消删除'
                                });
                            });
                    },
                    onChange(file) {
                        this.addOptions.formData.file = file.raw;
                    },
                    onAddRow() {
                        this.addOptions.status = true;
                    },
                    onSubmit() {
                        sessionStorage.setItem('kv', this.addOptions.formData.kv);
                        if (this.addOptions.formData.type === 'text') {
                            Utils.httpPost('/api/add', {
                                key: this.addOptions.formData.key,
                                value: encodeURIComponent(this.addOptions.formData.value)
                            }).then(res => {
                                if (res.status === 200) {
                                    this.$message({
                                        type: 'success',
                                        message: '新增成功!'
                                    });
                                    this.getTableData();
                                    this.addOptions.status = false;
                                } else {
                                    this.$message({
                                        type: 'error',
                                        message: res.message
                                    });
                                }
                            });
                        } else {
                            const form = new FormData();
                            form.append('file', this.addOptions.formData.file);
                            Utils.httpPostForm('/api/upload', form).then(res => {
                                if (res.status === 200) {
                                    this.$message({
                                        type: 'success',
                                        message: '新增成功!'
                                    });
                                    this.getTableData();
                                    this.addOptions.status = false;
                                } else {
                                    this.$message({
                                        type: 'error',
                                        message: res.message
                                    });
                                }
                            });
                        }
                    }
                }
            }).$mount('#app');
        </script>
    </body>
</html>
